.cube-card {
  background: rgba(255,255,255,0.1);
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.4);
  margin-top: 20px;
}

.face-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.face {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 30px);
  grid-gap: 6px;
  margin-top: 10px;
}

.cell {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #222;
  cursor: pointer;
}

.solve-btn {
  margin-top: 20px;
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background: #3498db;
  cursor: pointer;
}


.cube-title {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
}

.face-label {
  margin-bottom: 8px;
  font-weight: bold;
}

.cell:hover {
  transform: scale(1.05);
}

.white { background: white; }
.red { background: #e53935; }
.green { background: #43a047; }
.yellow { background: #fdd835; }
.orange { background: #fb8c00; }
.blue { background: #1e88e5; }

.solve-btn:hover {
  background: #00e676;
}
